.navMenu {
  transition: transform 0.9s ease-in-out;
}
.navMenu.hidden {
  transition: transform 0.9s ease-in-out;
  transform: translateX(100%);
}
.navMenu.visible {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(0);
}
